deprecated==1.2.7
tensorflow-gpu==2.4.0
absl-py==0.7.0
astor==0.7.1
cycler==0.10.0
editdistance==0.5.2
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.1.0
Markdown==3.0.1
matplotlib==3.1.0
numpy==1.16.1
opencv-python==4.0.0.21
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
virtualenv==16.4.3
